* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.justify-content-lg-center {
  color: #ffff;
  background-image: url("./Components/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rounded-circle {
  animation: fam-med-spin 25s linear infinite;
}

.pop-med {
  height: 250px;
}

.sem {
  color: brown;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

@keyframes fam-med-spin {
  from {
    transform: rotateY(0deg);
  }to {
    transform: rotateY(360deg);
  }
}

.line1 {
  width: 10%;
  height: 5px solid red;
  margin-left: 45%;
}

@media (max-width: 768px) {
  .cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 5% 15%;
  }
}
